<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a routerLink="/">
          Incidentes (Diego)
        </a>
      </li>
      <li>
        <a routerLink="/incidents">Listar Todos</a>
      </li>
      <li>
        <a routerLink="/incidents/new">Cadastrar Novo</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">

      <div class="content">
        <div class="title align-content-center">
          <h2>Redbelt Teste</h2>
          <h4>Navegue no menu ao lado para as demais opções</h4>
          <br />
        </div>

        <router-outlet></router-outlet>

        <!--<app-incident-edit></app-incident-edit>-->

      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
