<h3>Lista de Incidentes</h3>
<p>
  <li *ngFor="let item of incidents" [ngClass]="{'item-green' : item.incident_level  == 3,
  'item-red' : item.incident_level == 1, 'item-gray' : item.incident_level == 2}">
  <a [routerLink]="['/incidents/edit', item.id]">
  {{item.title | uppercase}}
  </a>
</li>
</p>
