<form name="form-incident-new" #formIncidentNew="ngForm" class="form-horizontal">
  <fieldset>

    <!-- Form Name -->
    <legend>Cadastro de Incidentes</legend>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="title">Título</label>
      <div class="col-md-4">
        <input id="title" name="title" [(ngModel)]="incident.title" type="text" placeholder="" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Descrição</label>
      <div class="col-md-4">
        <textarea class="form-control" id="description" [(ngModel)]="incident.description" name="description" required></textarea>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="incident_level">Criticidade</label>
      <div class="col-md-4">
        <select id="incident_level" name="incident_level" [(ngModel)]="incident.incident_level" class="form-control">
          <option value="1">Alta</option>
          <option value="2" selected>Média</option>
          <option value="3">Baixa</option>
        </select>
      </div>
    </div>

    <!-- Select Multiple -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="incident_type">Tipo de Incidente</label>
      <div class="col-md-4">
        <select id="incident_type" name="incident_type" [(ngModel)]="incident.incident_type" class="form-control">
          <option value="1">Ataque Brute Force</option>
          <option value="2">Credenciais Vazadas</option>
          <option value="3">Ataque de DDoS</option>
          <option value="4">Atividades anormais de usuários</option>
        </select>
      </div>
    </div>

    <!-- Select Basic -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="status">Status</label>
      <div class="col-md-4">
        <select id="status" name="status" [(ngModel)]="incident.status" class="form-control">
          <option value="1" selected>Aberto</option>
          <option value="2">Fechado</option>
        </select>
      </div>
    </div>

    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="btnsubmit"></label>
      <div class="col-md-8">
        <button id="btnsubmit" name="btnsubmit" class="btn btn-success"
          (click)="add()"
          [disabled]="!formIncidentNew.valid || saved">{{!saved ? 'Cadastrar' : 'Cadastrado'}}</button>
        <!--<button id="btn_cancel" name="btn_cancel" class="btn btn-danger">Cancelar</button>-->
      </div>
    </div>

  </fieldset>
</form>
